# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {label: 'Check', command: 'helium:check'},
    {label: 'Get Type', command: 'helium:get-type'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Helium'
      'submenu': [
        { 'label': 'Check', 'command': 'helium:check' },
        { 'label': 'Get Type', 'command': 'helium-get-type' }
      ]
    ]
  }
]
