# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Check': 'helium:check'
      'Get Type': 'helium:get-type'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'helium'
      'submenu': [
        { 'label': 'Check', 'command': 'helium:check' },
        { 'label': 'Get Type', 'command': 'helium-get-type' }
      ]
    ]
  }
]
